<div class="center-page">
<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>  
      <th>PR ID</th>    
      <th>Created</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.id %></td>
        <td><%= link_to(notification.user.github_login, user_path(notification.user)) if notification.user.present?%></td>
        <td><%= notification.pr_id %></td>
        <td><%= notification.created_at.in_time_zone('Pacific Time (US & Canada)') %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to('Deliver', deliver_notification_path(notification), method: :post) if notification.user.deliverable? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %> | <%= link_to 'Users', users_path %>
</div>