<p id="notice"><%= notice %></p>
<pre><span>TO: </span><%= @notification.to %></pre>
<pre><span>TITLE: </span><%= @notification.title %></pre>
<pre><span>BODY: </span><%= @notification.body %></pre>
<p><span>DATA: </span>
  <% payload = JSON.parse(@notification.data) %>
  <pre><%= JSON.pretty_generate(payload) %></pre>
</p>

<%= link_to 'Deliver', deliver_notification_path(@notification), method: :post %> | 
<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
