<p id="notice"><%= notice %></p>

<% @user.attributes.each do |k,v| %>
<pre><span><%= k%> : </span><%= v %></pre>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
